
.container {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    font-size: 0px; 
    /* ㄴ inline-block에서 생긴 p태그만큼의 공백을 해결하기 위함 */
    background: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
    grid-gap: 1px;
}

p {
    margin: 0px;
}

.top{
    background: red;
    /* width: 400px;
    height: 200px; */

    /* grid의 width height 값은 명시하지 않거나
    auto로 해주는 것이 좋음 */
    
    width: auto;
    height: auto;

    font-size: 16px;
    grid-area: top;
}

.left {
    background: blue;
    /* width: 200px;
    height: 200px; */
    /* inline-block에서 태그와 태그 사이 부여된 공백을 해결하기 위해 top으로 정렬 */
    grid-area: left;
}

.right {
    background: green;
    /* width: 200px;
    height: 200px; */
    grid-area: right;
}

.bottom {
    clear: both;
    background: purple;
    /* width: 400px;
    height: 200px; */
    grid-area: bottom;
}

.flexbox {
    display: flex;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
