.wrap {
    background-color: white;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid black;
}

header {
    background-color: black;
    text-align: center;
    padding-top: 30px;
    position: relative;
    color: white;
}

header .gnb {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo gnb-menu menu"
    "search search search";
}

header .gnb .logo {
    grid-area: logo;
    cursor: pointer;
    display: flex;
    align-items: center;
}


header .gnb .gnb-menu {
    grid-area: gnb-menu;
    display: flex;
    align-items: center;
}

header .gnb .gnb-menu ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

header .gnb .gnb-menu ul li{
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}


header .gnb .gnb-menu ul .active::before{
    content: "";
    height: 2px;
    width: 15px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);

}

header .gnb .gnb-menu ul li:hover::before{
    content: "";
    height: 2px;
    width: 5px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
}

header .gnb .menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}


header .gnb .search {
    grid-area: search;  
}