body{
    background-color: #c6c6c6;
    margin: 0px;
}

.wrap{
    background-color: white;
    width: 375px;
    height: 100vh;
    /*vh: 사용자가 우리 브라우저에서 눈으로 확인할 수 있는 영역의 전체 (세로) vw: (가로)*/
    margin: 0 auto;
    /* 0 -> top, bottom / auto -> left, right 동일한 공간만큼 여백을 부여해줌*/
    display: flex;
    align-items: center;
}

.instagram{
    width: 100%;
    height: 550px;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 375px 1fr;
    grid-template-areas: 
    "header"
    "img"
    "footer";
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.header{
    grid-area: header;
    width: auto;
    height: auto;
    margin: 5px 10px;
    font-weight: bold;
}

.header-left{
    float: left;
    display: flex;
    align-items: center;
}

.header-right{
    float: right;
    display: flex;
    height: 100%;
}

.header-img{
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.right-menu{
    cursor: pointer;
    user-select: none;
}

.img{
    clear: both;
    grid-area: img;
    width: 100%;
    height: 100%;
    background-image: url(./img/good.png);
    /* background-size: cover; */
}

.footer{
    grid-area: footer;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas: 
    "top-left top-center top-right"
    "like like like"
    "comment comment comment";
}

.top-left{
    grid-area: top-left;
    display: flex;
    font-size: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.top-left span{
    cursor: pointer;
}

.top-left span:nth-of-type(1):hover{
    color: red;
}


#fill-heart{
    display: none;
    fill: red;
}

.top-center{
    grid-area: top-center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.top-right{
    grid-area: top-right;
    font-size: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.like{
    grid-area: like;
}

.comment{
    grid-area: comment;
}

li {
    width: 7px;
    height: 7px;
    background-color: lightgray;
    border-radius: 50%;
}

ul {
    padding: 0px;
    display: flex;
    justify-content: space-between; 
    list-style: none;
    width: 50%; 
}


.like{
    margin: 0 10px;
}

.comment {
    margin: 0 10px;
}